<div>
  <ul class="approval-list">
    {{#each items}}
      <li class="approval-item">
        <img class="character-icon" src="{{this.details.img}}" alt="{{this.details.name}}">
        <span class="character-name"><strong>{{this.details.name}}</strong> </span>
        {{#if this.details.isMultiple}}
          <!-- Plural -->
          {{#if (eq rating "approve")}}
            {{localize "PLAYER_APPROVAL.PluralApprove"}}
          {{else if (eq rating "disapprove")}}
            {{localize "PLAYER_APPROVAL.PluralDisapprove"}}
          {{else}}
            {{localize "PLAYER_APPROVAL.PluralAbstain"}}
          {{/if}}
        {{else}}
          <!-- Singular -->
          {{#if (eq rating "approve")}}
            {{localize "PLAYER_APPROVAL.SingularApprove"}}
          {{else if (eq rating "disapprove")}}
            {{localize "PLAYER_APPROVAL.SingularDisapprove"}}
          {{else}}
            {{localize "PLAYER_APPROVAL.SingularAbstain"}}
          {{/if}}
        {{/if}}
      </li>
    {{/each}}
  </ul>

  <div class="approval-buttons">
    <button type="button" data-action="applyApprovalRating" data-rating="approve" class="approval-button approval-approve"
      title="{{localize 'PLAYER_APPROVAL.Approve'}}">
      <i class="fas fa-thumbs-up"></i>
    </button>
    <button type="button" data-action="applyApprovalRating" data-rating="abstain" class="approval-button approval-abstain"
      title="{{localize 'PLAYER_APPROVAL.Abstain'}}">
      <i class="fas fa-minus"></i>
    </button>
    <button type="button" data-action="applyApprovalRating" data-rating="disapprove" class="approval-button approval-disapprove"
      title="{{localize 'PLAYER_APPROVAL.Disapprove'}}">
      <i class="fas fa-thumbs-down"></i>
    </button>
  </div>
</div>
